<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/ıcon.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Yazılım Dehası // Bilgilerini Pekiştir!</title>
</head>


<body>
    <header>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__element list__image"><img class="logo" src="/static/img/logo.png" alt="site_logo"></li>
                <li class="list__element"><a href="{{ url_for('index') }}"> Ana Sayfa </a></li>
                <li class="list__element"><a href="{{ url_for('exam') }}"> Sınav </a></li>
                <li class="list__element"><a href="{{ url_for('add_question') }}"> Soru Ekle </a></li>
                <li class="list__element"><a href="{{ url_for('leaderboard') }}"> Lider Tablosu </a></li>
                <li class="list__element"><a href=""> Yazılım Diilleri </a></li>
                {% if current_user.is_authenticated %}
                    <li class="list__element"><a href="">{{ current_user.username }}</a></li>
                    <li class="list__element button"><a id="logout-link" href="{{ url_for('logout') }}">Çıkış Yap</a></li>
                {% else %}
                    <li class="list__element button"><a href="{{ url_for('login') }}">Giriş Yap</a></li>
                    <li class="list__element button"><a href="{{ url_for('register') }}">Kayıt Ol</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <center class="add_question-form">
            <h2>Soru Ekle</h2>
            <form  method="post" action="{{ url_for('add_question') }}">
                {{ form.hidden_tag() }}

                <div>
                    <label for="{{ form.content.id }}">{{ form.content.label.text }}</label>
                    {{ form.content(class="form-control first") }}
                </div>
                <div class="block-div-add, block-div-addfirst"></div>
                <div>
                    <label for="{{ form.correct_answer.id }}">{{ form.correct_answer.label.text }}</label>
                    {{ form.correct_answer(class="form-control") }}
                </div>
                <div class="block-div-add"></div>
                <div>
                    <label for="{{ form.incorrect_answer.id }}">{{ form.incorrect_answer.label.text }}</label>
                    {{ form.incorrect_answer(class="form-control") }}
                </div>
                <div class="block-div-add"></div>
                <div>
                    <label for="{{ form.incorrect2_answer.id }}">{{ form.incorrect2_answer.label.text }}</label>
                    {{ form.incorrect2_answer(class="form-control") }}
                </div>
                <div class="block-div-add"></div>
                <div>
                    <label for="{{ form.incorrect3_answer.id }}">{{ form.incorrect3_answer.label.text }}</label>
                    {{ form.incorrect3_answer(class="form-control") }}
                </div>
                <div class="block-div-add"></div>
                <div>
                    <label for="{{ form.points.id }}">{{ form.points.label.text }}</label>
                    {{ form.points(class="form-control") }}
                </div>
                <div class="block-div-add"></div>
                {% block content %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flash-messages">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                {% endblock %}
                <div>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </center>
        <div class="block-div-tr"></div>    
    </main>
</body>
<footer>
    <p>Tüm Hakları Saklıdır. Ahmet Emin Kaya®</p>
</footer>
</html>