<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/ıcon.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Yazılım Dehası // Bilgilerini Pekiştir!</title>
</head>
<body>
    <header>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__element list__image"><img class="logo" src="/static/img/logo.png" alt="site_logo"></li>
                <li class="list__element"><a href="{{ url_for('index') }}"> Ana Sayfa </a></li>
                <li class="list__element"><a href="{{ url_for('exam') }}"> Sınav </a></li>
                <li class="list__element"><a href="{{ url_for('add_question') }}"> Soru Ekle </a></li>
                <li class="list__element"><a href="{{ url_for('leaderboard') }}"> Lider Tablosu </a></li>
                <li class="list__element"><a href=""> Yazılım Dilleri </a></li>
                {% if current_user.is_authenticated %}
                    <li class="list__element"><a href="">{{ current_user.username }}</a></li>
                    <li class="list__element button"><a id="logout-link" href="{{ url_for('logout') }}">Çıkış Yap</a></li>
                {% else %}
                    <li class="list__element button"><a href="{{ url_for('login') }}">Giriş Yap</a></li>
                    <li class="list__element button"><a href="{{ url_for('register') }}">Kayıt Ol</a></li>
                {% endif %}
            </ul>
        </nav>
        </nav>
    </header>
            <center>
                <form class="question" method="post" action="{{ url_for('submit_answer') }}" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <h1>Kendinizi Değerlendirin!</h1>
                    <br>
                    <div class="point">
                        <h2> Puan: {{ current_user.score }} </h2>
                    </div>
                    <h2>{{ question.content }}</h2>
                
                    {% for answer in [question.correct_answer, question.incorrect_answers, question.incorrect2_answers, question.incorrect3_answers] %}
                    <label>
                        <input type="radio" name="answer" value="{{ answer }}" class="question-to-answer" required>
                        {{ answer }}
                    </label>
                    <input type="hidden" name="incorrect_answer_1" value="{{ question.incorrect_answers }}">
                    <input type="hidden" name="incorrect_answer_2" value="{{ question.incorrect2_answers }}">
                    <input type="hidden" name="incorrect_answer_3" value="{{ question.incorrect3_answers }}">
                    {% endfor %}
                

                   <!-- form etiketi içindeki hata mesajları -->
                    {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    {% endfor %}

                    <!-- get_flashed_messages() ile gelen hata mesajları -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                                <li class="flash-message">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}

                
                    <button type="submit" class="btn btn-primary">Cevabı Gönder</button>
                </form>
                
            </center>
        </section>
    <div class="block-div-tr"></div>
    
    <footer>
        <p>Tüm Hakları Saklıdır. Ahmet Emin Kaya®</p>
    </footer>
</body>
</html>